<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="margin-top-10 margin-bottom-10 font-roboto-condensed">Gameplay</h3>
            <p class="margin-top-10 margin-bottom-10 font-roboto-condensed">Shadowcore is designed as a VR-only game, requiring an HMD and two handheld controllers. The main controller is used for aiming and shooting, while the off-hand controller is used for interacting with the environment and positioning your shield. Movement uses a teleport system to reduce motion sickness.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <img class="img-responsive" ng-src="../styles/img/temp/about/gameplay_1.jpg">
        </div>
        <div class="col-xs-9">
            <img class="img-responsive" ng-src="./styles/img/temp/about/gameplay_2.jpg">
            <h4 class="margin-top-10 font-roboto-condensed">lorem ipsum dolor sit amet</h4>
            <p class="font-roboto-condensed text-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <p class="font-roboto-condensed text-grey">The teleport reticle can be positioned anywhere in the world you can see. It’s a green circle if the destination is a valid position and a red X if it’s not. Tapping a button on the main controller triggers the teleport. Teleporting is virtually instantaneous—a brief blur—but comes with a cooldown. It takes 1-2 seconds for your suit to recharge so you can teleport again.You aim your weapon with the main controller. Each character class has
                two weapon types to cycle through, giving you different options for different tactical situations. You have infinite ammo, but limited clip size, making timing reloading an important part of gameplay. Every time you shoot, your teleport timer resets so you can’t just pop out in the middle of an attack.Your off-hand controller is used for grabbing things in the world. At the most basic this means simple interactions like opening doors or pulling levers. However, you can also grab
                objects to carry them as improvised ballistic shields. Pick up a trash can or a manhole cover and use it to block or deflect incoming shots!</p>
        </div>
        <div class="col-xs-6">
            <img class="img-responsive" ng-src="./styles/img/temp/about/gameplay_3.jpg">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <img class="img-responsive" ng-src="./styles/img/temp/about/gameplay_4.jpg">
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>Scattered around each level are four types of power-up:</p>
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <div class="row">
                <div class="col-xs-4">
                    <img class="img-responsive" ng-src="./styles/img/temp/about/gameplay_5.jpg">
                </div>
                <div class="col-xs-8">
                    <h4>Armor</h4>
                    <p>Regenerate your armor</p>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="row">
                <div class="col-xs-4">
                    <img class="img-responsive" ng-src="./styles/img/temp/about/gameplay_6.jpg">
                </div>
                <div class="col-xs-8">
                    <h4>Shield</h4>
                    <p>An indestructible shield</p>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="row">
                <div class="col-xs-4">
                    <img class="img-responsive" ng-src="./styles/img/temp/about/gameplay_5.jpg">
                </div>
                <div class="col-xs-8">
                    <h4>Damage Boost</h4>
                    <p>2x damage from all attacks</p>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="row">
                <div class="col-xs-4">
                    <img class="img-responsive" ng-src="./styles/img/temp/about/gameplay_6.jpg">
                </div>
                <div class="col-xs-8">
                    <h4>Speed Boost</h4>
                    <p>Cuts your movement cooldown in half</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <hr/>
            <p>These power-ups last for about 30 seconds after you pick them up. They respawn on a timer after they’ve been picked up, so you can grab them again if you return to their spawn point.</p>
        </div>
    </div>
</div>