<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="margin-top-10 margin-bottom-10 font-roboto-condensed">Gameplay</h3>
            <p class="margin-top-10 margin-bottom-10 font-roboto-condensed text-justify">Immerse yourself in a futuristic cyberpunk dystopia, where transnational conglomerates battle it out for control over Earth’s scarce resources and territories. Shadowcore is a VR-only game, where players navigate the industrial environments with the help of an HMD and two handheld controllers.  The main controller is used for aiming and shooting, while the off-hand controller allows you to interact with the environment and position your shield.  allows you to interact & grab some part of the environment and use it as a shield.  Movement uses a teleport system to reduce motion sickness and create a comfortable, convincing virtual reality experience.
                The teleport reticle can be positioned anywhere in the world you can see.  It’s a green circle if the destination is a valid position and a red X if it’s not.  Tapping a button on the main controller triggers the teleport.  Teleporting is virtually instantaneous—a brief blur—but comes with a cooldown.  Depending on the class you play It can takes 1 to 3 seconds for your suit to recharge before you can teleport again.
                Pick between three characters based on your playing style. Each character class has two weapon types to cycle through, giving you different options for different tactical situations.  You have infinite ammo, but limited clip size, making reloading an important part of gameplay. When you’re killed in any of the 5 3 game modes, you respawn back at your base after a 10 second cooldown.  You can pick 1v1, 3v3 or 5v5 as the number of players in the game.
                Interact with the environment around you by grabbing and using objects to your advantage. The shield mechanic gives combat an offense/defence cadence that makes up your limited mobility.  Plan your strategy and rely on your character’s special set of skills to increase your survival odds.
            </p>
        </div>
    </div>
    <div class="row margin-top-20">
        <div class="col-xs-3">
            <img class="img-responsive" ng-src="../styles/img/temp/about/gameplay_1.jpg">
        </div>
        <div class="col-xs-9">
            <img class="img-responsive" ng-src="./styles/img/temp/about/gameplay_2.jpg">
            <h4 class="margin-top-10 font-roboto-condensed">lorem ipsum dolor sit amet</h4>
            <p class="font-roboto-condensed text-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
    </div>
    <div class="row margin-top-20">
        <div class="col-sm-6">
            <p class="font-roboto-condensed text-grey text-justify">The teleport reticle can be positioned anywhere in the world you can see. It’s a green circle if the destination is a valid position and a red X if it’s not. Tapping a button on the main controller triggers the teleport. Teleporting is virtually instantaneous—a brief blur—but comes with a cooldown. It takes 1-2 seconds for your suit to recharge so you can teleport again.You aim your weapon with the main controller. Each character class has
                two weapon types to cycle through, giving you different options for different tactical situations. You have infinite ammo, but limited clip size, making timing reloading an important part of gameplay. Every time you shoot, your teleport timer resets so you can’t just pop out in the middle of an attack.Your off-hand controller is used for grabbing things in the world. At the most basic this means simple interactions like opening doors or pulling levers. However, you can also grab
                objects to carry them as improvised ballistic shields. Pick up a trash can or a manhole cover and use it to block or deflect incoming shots!</p>
        </div>
        <div class="col-sm-6">
            <img class="img-responsive" ng-src="./styles/img/temp/about/gameplay_3.jpg">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <img class="img-responsive" ng-src="./styles/img/temp/about/gameplay_4.jpg">
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>Scattered around each level are four types of power-up:</p>
            <hr/>
        </div>
    </div>
    <div class="row margin-top-20 margin-bottom-40">
        <div class="col-xs-6 col-sm-3 margin-top-10">
            <div class="row">
                <div class="col-sm-4">
                    <img class="img-responsive" ng-src="./styles/img/temp/about/gameplay_5.jpg">
                </div>
                <div class="col-sm-8">
                    <h4>Armor</h4>
                    <p>Regenerate your armor</p>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 margin-top-10">
            <div class="row">
                <div class="col-sm-4">
                    <img class="img-responsive" ng-src="./styles/img/temp/about/gameplay_6.jpg">
                </div>
                <div class="col-sm-8">
                    <h4>Shield</h4>
                    <p>An indestructible shield</p>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 margin-top-10">
            <div class="row">
                <div class="col-sm-4">
                    <img class="img-responsive" ng-src="./styles/img/temp/about/gameplay_5.jpg">
                </div>
                <div class="col-sm-8">
                    <h4>Damage Boost</h4>
                    <p>2x damage from all attacks</p>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 margin-top-10">
            <div class="row">
                <div class="col-sm-4">
                    <img class="img-responsive" ng-src="./styles/img/temp/about/gameplay_6.jpg">
                </div>
                <div class="col-sm-8">
                    <h4>Speed Boost</h4>
                    <p>Cuts your movement cooldown in half</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>These power-ups last for about 30 seconds after you pick them up. They respawn on a timer after they’ve been picked up, so you can grab them again if you return to their spawn point.</p>
        </div>
    </div>
</div>