<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h3>
                High Concept
            </h3>
            <p>
                Shadowcore is a tactical shooter, where the focus is on team cooperation, strategy and control of space. Maps are designed around fields of fire and positional awareness for maximum freedom of movement and exploration thanks to a dynamic and responsive gameplay.
                Immerse yourself in a futuristic cyberpunk dystopia, where transnational conglomerates battle it out for control over Earth’s scarce resources and territories. Shadowcore is a VR-only game, where players navigate the industrial environments with the help of an HMD and two handheld controllers. The main controller is used for aiming and shooting, while the off-hand controller allows you to interact and use objects from the environment as a shield. Movement uses a teleport system
                to reduce motion sickness and create a comfortable, convincing virtual reality experience.
                The teleport reticle can be positioned anywhere in the world you can see. Teleporting is virtually instantaneous—a brief blur—but comes with a cooldown. Depending on the class you choose, it takes between 1 and 3 seconds for your suit to recharge before you can teleport again.
                Pick between three characters based on your playing style. Each character class has two weapon types to cycle through, giving you different options for different tactical situations. You have infinite ammo, but limited clip size, making reloading an important part of gameplay. When you’re killed in any of the 5 3 game modes, you respawn back at your base after a 10 second cooldown. You can pick 1v1, 3v3 or 5v5 as the number of players in the game.
                Interact with the environment around you by grabbing and using objects to your advantage. The shield mechanic gives combat an offense/defence cadence that makes up your limited mobility. Plan your strategy and rely on your character’s special set of skills to increase your survival odds.
            </p>
            <p>Scattered around each level are four types of <b>power-up:</b></p>
            <ul>
                <li>Armor – Regenerate your armor</li>
                <li>Shield – An indestructible shield</li>
                <li>Damage Boost – 2x damage from all attacks</li>
                <li>Speed Boost – Cuts your movement cooldown in half</li>

            </ul>
            <p>
                These power-ups last for about 30 seconds after you pick them up.  They respawn on a timer after they’ve been picked up, so you can grab them again if you return to their spawn point.
            </p>
        </div>
    </div>
</div>