<div data-smart-include="app/home/partials/header.html" class="placeholder-header"></div>

<div class="container-fluid home-container padding-0" id="section1">
    <div class="row margin-0">
        <div class="col-xs-12 padding-0">
            <div class="landing-section">
                <h1 class="text-condensed-light">SHADOWCORE</h1>
                <h5 class="text-condensed-light padding-top-20 padding-left-10 padding-right-10 font-14px">Embark on an adventure of a lifetime that will take you beyond anything you thought possible</h5>
                <div class="margin-top-40 margin-bottom-40 padding-top-5">
                    <button class="btn btn-primary btn-white-border">BUY GAME ON STEAM</button>
                    <button class="btn btn-primary btn-white-border margin-left-10">WATCH GAMEPLAY</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row margin-0 text-center">
        <a class="arrow-wrapper cursor-pointer" href="#section2" du-smooth-scroll="" du-scrollspy="" offset="30" class="">
            <i class="fa fa-angle-down arrow-down"></i>
        </a>
    </div>
    <div class="row margin-0 bg-black text-white video-section" id="section2">
        <div class="col-xs-12 text-center padding-40 margin-top-30">
            <h2 class="sub-title">V I D E O S</h2>
        </div>
        <div class="col-xs-12">
            <div class="container-fluid videos-wrapper">
                <slick lazy-load="ondemand" slides-to-show="{{screenWidth <= 768 ? 1 : 3}}" slides-to-scroll="1">
                    <div class="text-center padding-10" ng-repeat="video in videos">
                        <youtube id="video.id" video="{{video.code}}" image="video.image"></youtube>
                        <div class="margin-top-20">
                            <h4 class="text-condensed-light Bold">{{video.name}}</h4>
                            <div class="text-condensed-light text-grey font-bold margin-top-10"><i class="fa fa-clock-o"></i> {{video.duration}}</div>
                            <hr class="hr border-dashed"/>
                            <h5 class="text-condensed-light text-grey font-bold video-description">{{video.description}}</h5>
                        </div>
                    </div>
                </slick>
            </div>
        </div>
    </div>
    <div class="row margin-0">
        <div class="col-xs-12 padding-0">
            <div class="buy-section">
                <h1 class="text-condensed-light">BUY</h1>
                <h3 class="sub-title letter-spacing-8px">SHADOWCORE ON STEAM</h3>
                <h5 class="text-condensed-light margin-top-40 margin-bottom-40 padding-top-40">The world’s at war. Whose side will you choose?</h5>
                <div class="margin-bottom-40">
                    <a class="btn btn-primary btn-white-border" ng-click="shop()">SHOP NOW</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row margin-0 bg-black character-section">
        <div class="col-xs-12">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center padding-20 margin-top-40 margin-bottom-20 text-white">
                        <h2 class="sub-title">C H A R A C T E R S</h2>
                    </div>
                </div>
                <div class="row margin-bottom-40">
                    <div class="col-sm-6">
                        <img class="character-img img-responsive margin-auto" ng-src="{{characters[currSlideInd].image}}">
                    </div>
                    <div class="col-sm-6 padding-top-40">
                        <h3 class="font-roboto-condensed text-white margin-top-40">TESLA</h3> {{slickConfig}}
                        <slick lazy-load="ondemand"
                               slides-to-show="1"
                               slides-to-scroll="1"
                               dots="true"
                               prev-arrow=".slick-prev-label"
                               next-arrow=".slick-next-label"
                               current-index="currSlideInd"
                               on-after-change="getCurrentSlide()">
                            <div class="text-white" ng-repeat="character in characters">
                                <div class="font-roboto-condensed font-15px text-grey">Category: <span class="text-white">{{character.category}}</span> <i class="fa fa-bolt bolt"></i></div>
                                <hr class="border-dashed"/>
                                <ul class="font-roboto-condensed font-15px text-grey">
                                    <li ng-repeat="spec in character.specs track by $index">{{spec}}</li>
                                </ul>
                                <hr class="border-dashed"/>
                                <div class="font-roboto-condensed font-15px text-grey">{{character.description}}</div>
                            </div>
                        </slick>
                        <div>
                            <div class="font-roboto-condensed font-15px text-white pull-left cursor-pointer slick-prev-label">
                                <img ng-src="./styles/img/temp/arrow_left.png" class="margin-right-13">
                                PREVIOUS:
                                <span class="text-grey">{{characters[currSlideInd - 1 < 0 ? characters.length - 1 : currSlideInd - 1]['category']}}</span>
                            </div>
                            <div class="font-roboto-condensed font-15px text-white pull-right cursor-pointer slick-next-label">
                                NEXT:
                                <span class="text-grey margin-right-13">{{characters[currSlideInd > characters.length - 2 ? 0 : currSlideInd + 1]['category']}}</span>
                                <img ng-src="./styles/img/temp/arrow_right.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row margin-0">
        <div class="col-xs-12 padding-0">
            <div class="newsletter-section">
                <h2 class="sub-title margin-bottom-40 padding-top-20">N E W S L E T T E R</h2>
                <h5 class="text-condensed-light margin-top-40 margin-bottom-40 padding-top-20">Step into the cyberpunk world of tomorrow with regular updates from us.</h5>
                <div class="margin-bottom-40 margin-top-40">
                    <div>
                        <input type="text" class="text-condensed-light email-box" placeholder="Your e-mail here">
                    </div>
                    <div class="margin-top-40">
                        <button class="btn btn-primary btn-white-border">SUBMIT</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row margin-0">
        <div class="col-xs-12 padding-0 bg-black">
            <div class="social-section container text-center text-white padding-20 margin-top-20 margin-bottom-40">
                <h2 class="sub-title margin-top-40 margin-bottom-40">SHADOWCORE SOCIAL</h2>
                <div class="social-icons text-center padding-left-50">
                    <div><a ng-href="#"><i class="fa fa-2x fa-facebook"></i></a></div>
                    <div><a ng-href="#"><i class="fa fa-2x fa-twitter"></i></a></div>
                    <div><a ng-href="#"><i class="fa fa-2x fa-youtube-play"></i></a></div>
                </div>
            </div>
        </div>
    </div>
</div>


<div data-smart-include="app/home/partials/footer.html" class="placeholder-header"></div>