<div data-smart-include="app/home/partials/header.html" class="placeholder-header"></div>

<div class="container-fluid join-team-container padding-0" id="section1">
    <div class="row margin-0">
        <div class="col-xs-12 padding-0">
            <div class="join-team-section">
                <h1 class="text-condensed-light">JOIN THE TEAM</h1>
            </div>
        </div>
    </div>
    <div class="row margin-0 text-center">
        <a class="arrow-wrapper cursor-pointer" href="#section2" du-smooth-scroll="" du-scrollspy="" offset="60" class="">
            <i class="fa fa-angle-down arrow-down"></i>
        </a>
    </div>
    <div class="row margin-0 padding-top-20 padding-bottom-20 bg-black" id="section2">
        <div class="col-xs-12 text-center questions-div">
            <div class="container padding-top-20 padding-bottom-20">
                <hr/>
                <div class="row margin-top-40">
                    <div class="col-sm-4 text-left" ng-repeat="item in items">
                        <img class="img-responsive" ng-src="{{item.image}}">
                        <p class="text-white font-roboto-condensed padding-top-15 padding-bottom-10">{{item.title}}</p>
                        <p class="text-grey"><i class="fa fa-clock-o"></i> {{item.ymd}}</p>
                    </div>
                </div>
            </div>
            <div class="container padding-top-20 padding-bottom-20 text-center">
                <hr/>
                <form>
                    <div class="padding-40">
                        <div class="text-grey">Contact us and lorem ipsum!</div>
                    </div>
                    <div>
                        <input type="text" placeholder="First Name" class="input2">
                    </div>
                    <div class="padding-top-15">
                        <input type="text" placeholder="Last Name" class="input2">
                    </div>
                    <div class="padding-top-15">
                        <input type="text" placeholder="Email" class="input2">
                    </div>
                    <div class="padding-top-15">
                        <textarea placeholder="Message" class="input2" rows="5"></textarea>
                    </div>
                    <div class="padding-top-15">
                        <button class="btn btn-primary btn-white-border">Send ></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row margin-0">
        <div class="col-xs-12 padding-0">
            <div class="newsletter-section">
                <h2 class="sub-title margin-bottom-40 padding-top-20">N E W S L E T T E R</h2>
                <h5 class="text-condensed-light margin-top-40 margin-bottom-40 padding-top-20">Step into the cyberpunk world of tomorrow with regular updates from us.</h5>
                <div class="margin-bottom-40 margin-top-40">
                    <form name="dataform">
                        <input type="email" name="email" class="text-condensed-light email-box" ng-class="{'has-error': !dataform.email.$valid}" ng-model="subscriber.email" placeholder="Your e-mail here">
                        <p class="margin-top-5" ng-if="!dataform.email.$valid">The email format is invalid.</p>
                    </form>
                    <div class="margin-top-40">
                        <button class="btn btn-primary btn-white-border" ng-click="onSubscriber()">SUBMIT</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row margin-0">
        <div class="col-xs-12 padding-0 bg-black">
            <div class="social-section container text-center text-white padding-20">
                <h2 class="text-condensed-light">SHADOWCORE SOCIAL</h2>
                <div class="social-icons text-center">
                    <div><a ng-href="#"><i class="fa fa-2x fa-facebook"></i></a></div>
                    <div><a ng-href="#"><i class="fa fa-2x fa-twitter"></i></a></div>
                    <div><a ng-href="#"><i class="fa fa-2x fa-youtube-play"></i></a></div>
                </div>
            </div>
        </div>
    </div>
</div>


<div data-smart-include="app/home/partials/footer.html" class="placeholder-header"></div>