@font-face {
    font-family: "sf-transrobotics-extended";
    src: url('../fonts/SFTransRoboticsExtended/SFTransRoboticsExtended.eot');
    src: url('../fonts/SFTransRoboticsExtended/SFTransRoboticsExtended.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SFTransRoboticsExtended/SFTransRoboticsExtended.svg#SF TransRobotics Extended') format('svg'),
    url('../fonts/SFTransRoboticsExtended/SFTransRoboticsExtended.woff') format('woff'),
    url('../fonts/SFTransRoboticsExtended/SFTransRoboticsExtended.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_condensedregular';
    src: url('../fonts/roboto_condensed_macroman/RobotoCondensed-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_condensedlight';
    src: url('../fonts/roboto_lightcondensed_macroman/RobotoCondensed-Light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body:not(.menu-on-top).desktop-detected {
    min-height: inherit !important;
}

.main.ng-enter {
    transition: 0.25s;
    opacity: 0;
}

.main.ng-enter-active {
    opacity: 1;
}

.main.ng-leave {
    transition: 0.25s;
    opacity: 1;
}

.main.ng-leave-active {
    opacity: 0;
}

.bg-black {
    background: black;
}

.bg-white {
    background: white;
}

.text-white {
    color: white;
}

.text-grey {
    color: grey;
}

.display-inline-block {
    display: inline-block;
}

.padding-0 {
    padding: 0;
}

.padding-left-10 {
    padding-left: 10px;
}

.padding-right-0 {
    padding-right: 0;
}

.padding-right-10 {
    padding-right: 10px;
}

.padding-20 {
    padding: 20px;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.padding-40 {
    padding: 40px;
}

.margin-0 {
    margin: 0;
}

.margin-20 {
    margin: 20px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-40 {
    margin: 40px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

.margin-auto {
    margin: auto;
}

.width-full {
    width: 100%;
}

.font-roboto-condensed {
    font-family: 'roboto_condensedregular' !important;
}

.input2 {
    border: 1px solid grey;
    text-align: center;
    background: transparent;
    padding: 7px;
    width: 500px;
    max-width: calc(100vw - 60px);
    color: white;
}

/* for directives */
.loading-sheath {
    background: rgba(255, 255, 255, 0.7);
    width: 100%;
    display: block;
    position: absolute;
    z-index: 4000;
    height: 100%;
}

.loading-sheath .icon {
    color: grey;
    margin-top: 150px;
    margin-left: calc(50% - 23px);
}

.st-sort-ascent:before {
    content: '\25B2';
}

.st-sort-descent:before {
    content: '\25BC';
}

.st-selected {
    background-color: #69d2f5;
}

nav ul li.active > a:before {
    content: "";
}

/*---------------------------------------------------------------------------*/

.header-section {
    padding: 10px;
}

.footer-section {
    background: black;
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid grey;
}

.social-icons div {
    border: 2px solid white;
    border-radius: 50%;
    color: white;
    font-size: xx-small;
    padding: 5px;
    padding-left: 21px;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
}

.social-icons div:hover {
    border-color: grey !important;
    color: grey !important;
}

.social-icons div a {
    color: inherit;
    margin-top: -17px;
    margin-left: -17px;
}

.header-section {
    height: 90px;
    background: transparent;
    position: fixed;
    z-index: 2000;
    width: 100%;
}

@keyframes fade {
    from {
        background-color: transparent;
    }
    to {
        background: rgba(0, 0, 0, 0.85);
    }
}

.header-section.scrolled {
    background: rgba(0, 0, 0, 0.85);
    animation-name: fade;
    animation-duration: 1s;
}

.logo-text {
    /*width: 200px;*/
    padding-top: 15px;
    /*padding-left: 10px;*/
    font-family: "sf-transrobotics-extended";
    display: inline-block;
}

.top-menu {
    display: inline-block;
    padding-top: 20px;
    text-align: center;
}

.top-menu div a {
    margin: 0px 20px;
    color: white;
    font-weight: 900;
    font-size: smaller;
    font-family: 'roboto_condensedregular';
    letter-spacing: 0.2em;
}

.top-menu .active a, .bottom-menu .active a {
    color: grey;
    font-weight: bold;
}

.bottom-menu {
    display: inline-block;
    text-align: center;
}

.bottom-menu div a {
    margin: 0px 10px;
    color: white;
    font-weight: 900;
    font-size: smaller;
    font-family: 'roboto_condensedregular';
    letter-spacing: 0.2em;
}

.btn-white-border {
    background: transparent;
    border-radius: 0;
    border: 2px solid white;
    font-family: 'roboto_condensedlight';
    letter-spacing: 0.1em;
}

.btn-white-border:hover {
    background: transparent;
    border-color: grey;
    color: grey;
}

/*--------------- home ----------------------------*/
.landing-section {
    background: url("../img/temp/home_bg_1.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 50vw;
    text-align: center;
    padding-top: 250px;
    color: white;
    min-height: 400px;

}

.landing-section h1 {
    font-size: 80px;
    letter-spacing: 30px;
    text-indent: 30px;
}

.text-condensed-light {
    font-family: 'roboto_condensedlight';
    letter-spacing: 0.1em;
}

.arrow-wrapper {
    position: relative;
    margin-top: -15px;
    margin-bottom: -15px;
    z-index: 1;
}

.arrow-wrapper .arrow-down {
    background: black;
    color: grey;
    width: 30px;
    height: 30px;
    font-size: x-large;
    border-radius: 50%;
    padding-top: 4px;
    font-weight: bold;
    cursor: pointer;
}

.arrow-wrapper .arrow-down:hover {
    color: white;
}

.buy-section {
    background: url("../img/temp/home_bg_2.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 35vw;
    text-align: center;
    padding-top: 100px;
    color: white;
    min-height: 300px;

}

.buy-section h1 {
    font-size: 50px;
}

.newsletter-section {
    background: url("../img/temp/home_bg_3.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 30vw;
    text-align: center;
    min-height: 300px;
    padding-top: 50px;
    color: white;
}

.newsletter-section h1 {
    font-size: 50px;
}

.newsletter-section .email-box {
    background: transparent;
    border: 0;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    text-align: center;
    padding: 10px;
    width: 500px;
    max-width: calc(100vw - 60px);

}

.newsletter-section .email-box:active, .newsletter-section .email-box:focus {
    outline: 0;
}

.character-img {
    max-height: 500px;
}

.video-section .slick-prev, .video-section .slick-next {
    margin-top: -95px;
}

/*--------------- about ----------------------------*/

.about-section {
    background: url("../img/temp/about_bg_1.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 35vw;
    text-align: center;
    padding-top: 250px;
    color: white;
    min-height: 300px;
}

.about-section h1 {
    font-size: 80px;
    letter-spacing: 30px;
    text-indent: 30px;
}

.about-container .about-content {
    border-left: 1px solid #252525;
    font-family: 'roboto_condensedregular';
}

.about-container .about-menu-item {
    border-bottom: 1px solid #252525;
    list-style-position: inside;
    list-style: none;
    font-family: 'roboto_condensedregular';
}

.about-container .about-menu-item.active, .about-container .about-menu-item.active a {
    list-style: inside;
    font-weight: bold;
    color: white;
}

.about-container .about-menu-item.active a {
    display: inline;
}

/*--------------- news ----------------------------*/

.news-section {
    background: url("../img/temp/news_bg_1.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 35vw;
    text-align: center;
    padding-top: 250px;
    color: white;
    min-height: 300px;
}

.news-section h1 {
    font-size: 80px;
    letter-spacing: 30px;
    text-indent: 30px;
}

.news-container .months-wrapper {
    border-top: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
    font-family: 'roboto_condensedbold';
}

/*--------------- contact us ----------------------------*/

.contact-us-section {
    background: url("../img/temp/contact_us_bg_1.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 35vw;
    text-align: center;
    padding-top: 250px;
    color: white;
    min-height: 300px;
}

.contact-us-section h1 {
    font-size: 80px;
    letter-spacing: 30px;
    text-indent: 30px;
}

.contact-ways i {
    border: 2px solid white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 6px;
}

/*--------------- join team ----------------------------*/

.join-team-section {
    background: url("../img/temp/join_bg_1.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 35vw;
    text-align: center;
    padding-top: 250px;
    color: white;
    min-height: 300px;
}

.join-team-section h1 {
    font-size: 80px;
    letter-spacing: 30px;
    text-indent: 30px;
}

/*--------------- media queries ----------------------------*/

@media only screen and (max-width: 1200px) {
    .home-container .landing-section,
    .about-container .about-section,
    .news-container .news-section,
    .contact-us-container .contact-us-section
    .join-team-container .join-team-section {
        padding-top: 200px;
    }

    .home-container h1 {
        font-size: 60px;
        letter-spacing: 20px;
        text-indent: 20px;
    }
}

@media only screen and (max-width: 960px) {
    .home-container .landing-section,
    .about-container .about-section,
    .news-container .news-section,
    .contact-us-container .contact-us-section,
    .join-team-container .join-team-section {
        padding-top: 150px;
    }

    .home-container h1, .about-section h1, .news-section h1, .contact-us-section h1, .join-team-section h1 {
        font-size: 40px;
        letter-spacing: 10px;
        text-indent: 10px;
    }

    .buy-section {
        padding-top: 25px;
    }

    .buy-section h1 {
        font-size: 40px;
    }
}

@media only screen and (max-width: 768px) {
    .btn-white-border {
        font-size: 12px;
    }

    .home-container .landing-section, .about-container .about-section, .news-container .news-section, .contact-us-container .contact-us-section, .join-team-container .join-team-section {
        padding-top: 100px;
    }

    .home-container h1, .about-section h1, .news-section h1, .contact-us-section h1, .join-team-section h1 {
        font-size: 30px;
        letter-spacing: 0;
    }

    .newsletter-section {
        padding-top: 20px;
    }

    .social-icons {
        display: none;
    }

    .top-menu div a {
        margin: 0px 5px;
    }
}
