@font-face {
    font-family: "sf-transrobotics-extended";
    src: url('../fonts/SFTransRoboticsExtended/SFTransRoboticsExtended.eot');
    src: url('../fonts/SFTransRoboticsExtended/SFTransRoboticsExtended.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SFTransRoboticsExtended/SFTransRoboticsExtended.svg#SF TransRobotics Extended') format('svg'),
    url('../fonts/SFTransRoboticsExtended/SFTransRoboticsExtended.woff') format('woff'),
    url('../fonts/SFTransRoboticsExtended/SFTransRoboticsExtended.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_condensedregular';
    src: url('../fonts/roboto_condensed_macroman/RobotoCondensed-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_condensedlight';
    src: url('../fonts/roboto_lightcondensed_macroman/RobotoCondensed-Light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body:not(.menu-on-top).desktop-detected {
    min-height: inherit !important;
}

.main.ng-enter {
    transition: 0.25s;
    opacity: 0;
}

.main.ng-enter-active {
    opacity: 1;
}

.main.ng-leave {
    transition: 0.25s;
    opacity: 1;
}

.main.ng-leave-active {
    opacity: 0;
}

.bg-black {
    background: black;
}

.bg-white {
    background: white;
}

.text-white {
    color: white;
}

.text-grey {
    color: #8C8C8C;
}

.display-inline-block {
    display: inline-block;
}

.padding-0 {
    padding: 0;
}

.padding-left-10 {
    padding-left: 10px;
}

.padding-left-50 {
    padding-left: 50px;
}

.padding-right-0 {
    padding-right: 0;
}

.padding-right-10 {
    padding-right: 10px;
}

.padding-right-50 {
    padding-right: 50px;
}

.padding-20 {
    padding: 20px;
}

.padding-top-5 {
    padding-top: 5px;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-top-40 {
    padding-top: 40px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.padding-40 {
    padding: 40px;
}

.margin-0 {
    margin: 0;
}

.margin-10 {
    margin: 10px;
}

.margin-20 {
    margin: 20px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-left-25 {
    margin-left: 25px;
}

.margin-left-40 {
    margin-left: 40px;
}

.margin-40 {
    margin: 40px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

.margin-auto {
    margin: auto;
}

.width-full {
    width: 100%;
}

.font-roboto-condensed {
    font-family: 'roboto_condensedregular' !important;
}

.font-14px {
    font-size: 14px;
}

.font-15px {
    font-size: 15px;
}

.font-bold {
    font-weight: bold;
}

.input2 {
    border: 1px solid grey;
    text-align: center;
    background: transparent;
    padding: 7px;
    width: 500px;
    max-width: calc(100vw - 60px);
    color: white;
}

.input2:focus {
    border-color: white;
}

/* for directives */
.loading-sheath {
    background: rgba(255, 255, 255, 0.7);
    width: 100%;
    display: block;
    position: absolute;
    z-index: 4000;
    height: 100%;
}

.loading-sheath .icon {
    color: grey;
    margin-top: 150px;
    margin-left: calc(50% - 23px);
}

.st-sort-ascent:before {
    content: '\25B2';
}

.st-sort-descent:before {
    content: '\25BC';
}

.st-selected {
    background-color: #69d2f5;
}

nav ul li.active > a:before {
    content: "";
}

.slick-dots {
    position: absolute;
    top: -160px;
    text-align: left;
    margin-left: -40px;
    display: inline-table;
}

.slick-dots li button:before, .slick-dots li.slick-active button:before {
    color: white;
}

.slick-dots li {
    margin: 0;
}

.letter-spacing-8px {
    letter-spacing: 8px;
}

/*---------------------------------------------------------------------------*/

@keyframes animation1 {
    from {
        background-color: transparent;
        height: 90px;
    }
    to {
        background: rgba(0, 0, 0, 0.85);
        height: 60px;
    }
}

@keyframes animation2 {
    from {
        background: rgba(0, 0, 0, 0.85);
        height: 60px;
    }
    to {
        background-color: transparent;
        height: 90px;
    }
}

@keyframes animation3 {
    from {
        padding-top: 32px;
    }
    to {
        padding-top: 10px;
    }
}

@keyframes animation4 {
    from {
        padding-top: 10px;
    }
    to {
        padding-top: 32px;
    }
}

@keyframes animation5 {
    from {
        margin-top: 32px;
    }
    to {
        margin-top: 0;
    }
}

@keyframes animation6 {
    from {
        margin-top: 0;
    }
    to {
        margin-top: 32px;
    }
}

@keyframes animation7 {
    from {
        margin-top: 25px;
    }
    to {
        margin-top: 0;
    }
}

@keyframes animation8 {
    from {
        margin-top: 0;
    }
    to {
        margin-top: 25px;
    }
}

.header-section {
    padding: 10px;
    height: 90px;
    background: transparent;
    position: fixed;
    z-index: 2000;
    width: 100%;
}

.header-section.scrolled {
    background: rgba(0, 0, 0, 0.85);
    animation-name: animation1;
    animation-duration: 1s;
    height: 60px;
}

.header-section.unscrolled {
    background: transparent;
    animation-name: animation2;
    animation-duration: 1s;
}

.header-section.scrolled .top-menu, .header-section.scrolled .logo-text {
    padding-top: 10px;
    animation-name: animation3;
    animation-duration: 1s;
}

.header-section.unscrolled .top-menu, .header-section.unscrolled .logo-text {
    padding-top: 32px;
    animation-name: animation4;
    animation-duration: 1s;
}

.header-section.scrolled .top-social-icons {
    margin-top: 0;
    animation-name: animation5;
    animation-duration: 1s;
}

.header-section.unscrolled .top-social-icons {
    margin-top: 32px;
    animation-name: animation6;
    animation-duration: 1s;
}

.header-section.scrolled .menu-btn {
    margin-top: 0;
    animation-name: animation7;
    animation-duration: 1s;
}

.header-section.unscrolled .menu-btn {
    margin-top: 25px;
    animation-name: animation8;
    animation-duration: 1s;
}

.social-icons {
    margin-top: 32px;
    margin-right: 40px;
}

.social-icons div {
    border: 2px solid white;
    border-radius: 50%;
    color: white;
    font-size: x-small;
    padding: 8px 5px 5px 21px;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
}

.social-icons div:hover {
    border-color: grey !important;
    color: grey !important;
}

.social-icons div a {
    color: inherit;
    margin-top: -17px;
    margin-left: -17px;
}

.logo-img {
    margin-top: -15px;
    width: 222px;
    height: 50px;
    background-image: url("../img/temp/logo.png");
    background-repeat: no-repeat;
}

.logo-text {
    /*width: 200px;*/
    padding-top: 32px;
    padding-left: 40px;
    font-family: "sf-transrobotics-extended";
    font-size: 14px;
    display: inline-block;
}

.logo-text span {
    transform: scaleX(1.7);
    display: inline-block;
}

.top-menu {
    display: inline-block;
    padding-top: 32px;
    text-align: center;
}

.menu-btn {
    float: right;
    margin-top: 25px;
    display: none;
}

.top-menu div {
    display: inline-block;
}

.top-menu div a {
    margin: 0px 20px;
    color: white;
    font-weight: 900;
    font-size: 14px;
    font-family: 'roboto_condensedregular';
    letter-spacing: 0.2em;
}

.top-menu .active a, .top-menu div a:hover {
    color: #959595;
    font-weight: bold;
    font-size: 14px;
}

.footer-section {
    background: black;
    text-align: center;
    padding-top: 20px;
}

.footer-section .footer-border {
    border-top: 1px solid grey;
    width: 80vw;
    margin: auto;
}

.bottom-menu {
    display: inline-block;
    text-align: center;
}

.bottom-menu div a {
    margin: 0px 10px;
    color: white;
    font-weight: 900;
    font-size: smaller;
    font-family: 'roboto_condensedregular';
    letter-spacing: 0.2em;
}

.bottom-menu .active a, .bottom-menu div a:hover {
    color: #8C8C8C;
}

.btn-white-border {
    background: transparent;
    border-radius: 0;
    border: 2px solid white;
    font-family: 'roboto_condensedregular';
    font-weight: bold;
    font-size: 13px;
    padding: 17px;
    width: 216px;
}

.btn-white-border:hover, .btn-white-border:active, .btn-white-border:focus {
    background: transparent !important;
    border-color: #8C8C8C !important;
    color: #8C8C8C !important;
}

.btn-white-border:active, .btn-white-border:focus {
    border-color: white !important;
    color: white !important;
}

.sub-title {
    font-size: 38px;
    font-family: 'roboto_condensedlight';
}

.scroll-top {
    bottom: 24px;
    right: 34px;
    background: darkgrey;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    color: white !important;
    font-size: x-large;
    padding-top: 2px;
    cursor: pointer;
    opacity: .2;
    position: fixed;
}

.scroll-top:hover {
    opacity: .5;
    color: white !important;
}

/*--------------- home ----------------------------*/
.landing-section {
    background: url("../img/temp/home_bg_1.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 50vw;
    text-align: center;
    padding-top: 20vw;
    color: white;
    min-height: 400px;
}

.landing-section h1 {
    font-size: 102px;
    letter-spacing: 66px;
    text-indent: 66px;
}

.text-condensed-light {
    font-family: 'roboto_condensedlight';
    letter-spacing: 0.1em;
}

.arrow-wrapper {
    position: relative;
    z-index: 1;
}

.arrow-wrapper .arrow-down {
    background: black;
    color: white;
    width: 50px;
    height: 50px;
    font-size: x-large;
    border-radius: 50%;
    padding-top: 12px;
    font-weight: bold;
    cursor: pointer;
    margin-top: -25px;
    margin-bottom: -25px;
}

.arrow-wrapper .arrow-down:hover {
    color: white;
}

.bolt {
    background: #636363;
    color: white;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    text-align: center;
    padding-top: 5px;
    padding-left: 1px;
}

.buy-section {
    background: url("../img/temp/home_bg_2.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 35vw;
    text-align: center;
    padding-top: 4vw;
    color: white;
    min-height: 300px;

}

.buy-content {
    padding-top: 40px;
}

.buy-section h1 {
    font-size: 102px;
}

.newsletter-section {
    background: url("../img/temp/home_bg_3.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 30vw;
    text-align: center;
    min-height: 300px;
    padding-top: 50px;
    color: white;
}

.newsletter-title {
    margin-bottom: 40px;
}

.newsletter-content {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 20px;
}

.newsletter-btn-wrapper, .newsletter-input-wrapper {
    margin-top: 40px;
}

.newsletter-section h1 {
    font-size: 50px;
}

.newsletter-section .email-box {
    /*background: transparent;*/
    /*border: 0;*/
    /*border-top: 1px solid white;*/
    /*border-bottom: 1px solid white;*/
    text-align: center;
    padding: 10px;
    width: 500px;
    max-width: calc(100vw - 60px);
    height: 60px;
    /*-webkit-transition: background 0.4s ease-in-out;
    transition: background 0.4s ease-in-out;*/
}

/*.newsletter-section .email-box:focus {
    background: rgba(255, 255, 255, .1);
}*/
.newsletter-section .email-box.has-error {
    /*border-color: darkred;*/

}

.newsletter-section .email-box.has-error:focus {
    /*background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, darkred 4%);*/
}

.newsletter-section .email-box::-webkit-input-placeholder {
    color: #ccc;
}

.newsletter-section .email-box:active, .newsletter-section .email-box:focus {
    outline: 0;
}

/*.character-img {
    max-height: 500px;
}*/

.video-section .slick-prev, .video-section .slick-next {
    margin-top: -110px;
}

.videos-title {
    padding: 40px;
    margin-top: 30px;
}

.videos-wrapper {
    width: 75vw;
}

.slick-prev:before {
    background-image: url(../img/temp/arrow_left.png);
    background-repeat: no-repeat;
    background-position: center;
    font-size: 50px;
    margin-left: -40px;
    color: transparent;
}

.slick-next:before {
    background-image: url(../img/temp/arrow_right.png);
    background-repeat: no-repeat;
    background-position: center;
    font-size: 50px;
    margin-left: 40px;
    color: transparent;
}

.slick-prev-label {
    opacity: .9;
}

.slick-prev-label:hover {
    opacity: 1;
}

.slick-next-label {
    opacity: .8;
}

.slick-next-label:hover {
    opacity: 1;
}

youtube {
    position: relative;
}

youtube iframe {
    width: 100%;
    height: 250px;
}

.video-overlay {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 250px;
    margin-top: 0px;
}

.video-overlay img {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.play-button {
    background-image: url(../img/temp/play_button.png);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 250px;
    cursor: pointer;
}

.play-button:hover {
    background-size: 50px;
}

.border-dashed {
    border-style: dashed;
    border-color: grey;
}

.video-description {
    font-size: 13px;
}

/*--------------- about ----------------------------*/

.about-section {
    background: url("../img/temp/about_bg_1.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 35vw;
    text-align: center;
    padding-top: 250px;
    color: white;
    min-height: 300px;
}

.about-section h1 {
    font-size: 80px;
    letter-spacing: 30px;
    text-indent: 30px;
}

.about-container .about-content {
    border-left: 1px solid #252525;
    font-family: 'roboto_condensedregular';
}

.about-container .about-menu-item {
    border-bottom: 1px solid #252525;
    list-style-position: inside;
    list-style: none;
    font-family: 'roboto_condensedregular';
}

.about-container .about-menu-item.active, .about-container .about-menu-item.active a {
    list-style: inside;
    font-weight: bold;
    color: white;
}

.about-container .about-menu-item.active a {
    display: inline;
}

/*--------------- news ----------------------------*/

.news-section {
    background: url("../img/temp/news_bg_1.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 35vw;
    text-align: center;
    padding-top: 250px;
    color: white;
    min-height: 300px;
}

.news-section h1 {
    font-size: 80px;
    letter-spacing: 30px;
    text-indent: 30px;
}

.news-container .months-wrapper {
    border-top: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
    font-family: 'roboto_condensedbold';
}

/*--------------- contact us ----------------------------*/

.contact-us-section {
    background: url("../img/temp/contact_us_bg_1.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 35vw;
    text-align: center;
    padding-top: 250px;
    color: white;
    min-height: 300px;
}

.contact-us-section h1 {
    font-size: 80px;
    letter-spacing: 30px;
    text-indent: 30px;
}

.contact-ways i {
    border: 2px solid white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 6px;
}

/*--------------- join team ----------------------------*/

.join-team-section {
    background: url("../img/temp/join_bg_1.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 35vw;
    text-align: center;
    padding-top: 250px;
    color: white;
    min-height: 300px;
}

.join-team-section h1 {
    font-size: 80px;
    letter-spacing: 30px;
    text-indent: 30px;
}
