<aside id="left-panel">

    <!-- User info -->
    <!--<div login-info></div>-->
    <!-- end user info -->

    <nav>
        <!-- NOTE: Notice the gaps after each icon usage <i></i>..
        Please note that these links work a bit different than
        traditional href="" links. See documentation for details.
        -->

        <ul data-smart-menu>

            <li data-ui-sref-active="active">
                <a data-ui-sref="app.admin.news">
                    <i class="fa fa-lg fa-fw fa-file"></i> <span class="menu-item-parent">News</span></a>
            </li>
            <li data-ui-sref-active="active">
                <a data-ui-sref="app.admin.videos">
                    <i class="fa fa-lg fa-fw fa-video-camera"></i> <span class="menu-item-parent">Videos</span></a>
            </li>
            <li data-ui-sref-active="active">
                <a data-ui-sref="app.admin.images">
                    <i class="fa fa-lg fa-fw fa-image"></i> <span class="menu-item-parent">Images</span></a>
            </li>
            <li data-ui-sref-active="active">
                <a data-ui-sref="app.admin.users">
                    <i class="fa fa-lg fa-fw fa-user"></i> <span class="menu-item-parent">Users</span></a>
            </li>
            <li data-ui-sref-active="active">
                <a data-ui-sref="app.admin.contactUs">
                    <i class="fa fa-lg fa-fw fa-phone"></i> <span class="menu-item-parent">Contact Us</span></a>
            </li>
            <li data-ui-sref-active="active">
                <a data-ui-sref="app.admin.subscribers">
                    <i class="fa fa-lg fa-fw fa-edit"></i> <span class="menu-item-parent">Subscribers</span></a>
            </li>

        </ul>

        <!-- NOTE: This allows you to pull menu items from server -->
        <!-- <ul data-smart-menu-items="/api/menu-items.json"></ul> -->
    </nav>

  <span class="minifyme" data-action="minifyMenu" minify-menu>
    <i class="fa fa-arrow-circle-left hit"></i>
  </span>

</aside>