<loading visible="loading"></loading>
<div id="content">
    <div class="text-right margin-bottom-10">
        <button class="btn btn-primary" data-toggle="modal" data-target="#myModal" ng-click="addRow()">Add New</button>
    </div>
    <section widget-grid id="widget-grid">
        <div class="row">
            <article class="col-sm-12">
                <div jarvis-widget id="standard-datatable-widget" data-widget-color="darken" data-widget-editbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>News Management</h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <div class="table-responsive">
                                <table st-table="tableData" st-safe-src="safeData" st-select-mode="multiple" class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th rowspan="2">No</th>
                                        <th st-sort="title">Title</th>
                                        <th st-sort="content">Content</th>
                                        <th st-sort="posted_date">Posted Date</th>
                                        <th rowspan="2">Image</th>
                                        <th rowspan="2">Action</th>
                                    </tr>
                                    <tr>
                                        <th class="padding-5">
                                            <input class="form-control" st-search="image"/>
                                        </th>
                                        <th class="padding-5">
                                            <input class="form-control" st-search="title"/>
                                        </th>
                                        <th class="padding-5">
                                            <input class="form-control" st-search="content"/>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr st-select-row="row" st-select-mode="single" ng-repeat="row in tableData" ng-dblclick="editRow(row)">
                                        <td>{{$index + 1}}</td>
                                        <td>{{row.title}}</td>
                                        <td>{{row.content}}</td>
                                        <td>{{row.posted_date}}</td>
                                        <td>{{row.image}}</td>
                                        <td class="text-center controls-td">
                                            <a ng-click="editRow(row)">Edit</a> /
                                            <a ng-click="deleteRow(row.id)">Delete</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="6" class="text-center">
                                            <div st-pagination="" st-items-by-page="10" st-displayed-pages="10"></div>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Edit Information</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Title</label>
                        <div class="col-md-9">
                            <input class="form-control" placeholder="Title" type="text" ng-model="currRow.title">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Content</label>
                        <div class="col-md-9">
                            <input class="form-control" placeholder="Content" type="text" ng-model="currRow.content">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Posted Date</label>
                        <div class="col-md-9">
                            <input class="form-control" placeholder="Posted Date" type="text" ng-model="currRow.posted_date">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Image</label>
                        <div class="col-md-9">
                            <input type="file" class="form-control" fileinput="file" filepreview="currRow.image"/>
                            <img ng-src="{{currRow.image}}" class="img-responsive margin-top-10 max-width-200" dng-show="currRow.image"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
