/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector

// custom style sheets.

.navbar {
  margin: 0;
  background: transparent;
  position: fixed;
  width: 100%;
  border: 0;
  padding-top: 10px;

  @keyframes fade {
    from {
      background-color: transparent;
      //border-bottom: 1px solid transparent;
    }
    to {
      background: rgba(0, 0, 0, 0.8);
      //border-bottom: 1px solid darkgrey;
    }
  }
  &.scrolled {
    background: rgba(0, 0, 0, 0.8);
    //border-bottom: 1px solid darkgrey;
    animation-name: fade;
    animation-duration: 2s;
  }

  .navbar-nav {
    margin-left: calc(50% - 300px);
    font-size: x-small;
    font-weight: 900;

    a {
      color: white !important;
      &:hover {
        background: transparent !important;
        color: grey !important;
      }
    }

    .active {
      a {
        background: transparent;
      }
    }

  }

}

.social-icon {
  border: 2px solid white;
  border-radius: 50%;
  color: white;
  font-size: xx-small;
  padding: 5px;
  padding-left: 21px;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  display: inline-block;

  &:hover {
    border-color: grey !important;
  }
  a {
    color: white;
    margin-top: -17px;
    margin-left: -17px;
  }
  &:hover {
    a {
      color: grey;
    }
  }
}

footer {
  width: 100%;
  background: black;
  text-align: center;
  display: inline-block;
  .footer {
    width: auto;
    li {
      a {
        color: white;
        &:hover {
          background: transparent;
          color: grey;
        }
      }
    }
  }
}

//--------- Common Style Sheets ----------------------------------------------------------------------------------------------
.cursor-pointer {
  cursor: pointer;
}

.display-inline-block {
  display: inline-block;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.padding-0 {
  padding: 0;
}

.padding-10 {
  padding: 10px;
}

.padding-left-10 {
  padding-left: 10px;
}

.padding-right-10 {
  padding-right: 10px;
}

.padding-40 {
  padding: 40px;
}

.margin-auto {
  margin: auto;
}

.margin-20 {
  margin: 20px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-40 {
  margin: 40px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

input, span, div, a, h1, h2, h3, h4, h5, h6, p {
  &:focus, &:active {
    outline: 0 !important;
  }
}

.text-grey {
  color: grey;
}

.text-white {
  color: white;
}

.bg-black {
  background: black;
}

.btn-white-border {
  background: transparent;
  border-radius: 0;
  border: 2px solid white;
  &:hover {
    background: transparent;
    border-color: grey;
    color: grey;
  }
}

.video-responsive {
  width: 100%;
  height: auto;
}

//---------------- For Individual Pages ---------------------------------------------------------------------------------------

.home-container {
  .landing-section {
    background: url("./../assets/images/home_bg_1.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 50vw;
    text-align: center;
    padding-top: 250px;
    color: white;
    min-height: 400px;

    h1 {
      font-size: 60px;
      letter-spacing: 30px;
    }
  }
  .video-section{
    .slick-prev, .slick-next {
      margin-top: -95px;
    }
  }
  .buy-section {
    background: url("./../assets/images/home_bg_2.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 35vw;
    text-align: center;
    padding-top: 100px;
    color: white;
    min-height: 300px;

    h1 {
      font-size: 50px;
    }
  }
  .newsletter-section {
    background: url("./../assets/images/home_bg_3.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 30vw;
    text-align: center;
    min-height: 300px;
    padding-top: 50px;
    color: white;
    h1 {
      font-size: 50px;
    }
    .email-box {
      background: transparent;
      border: 0;
      border-top: 1px solid white;
      border-bottom: 1px solid white;
      text-align: center;
      padding: 10px;
      width: 300px;
      &:active, &:focus {
        outline: 0;
      }
    }
  }
  .character-section {
    .character-img {
      max-height: 500px;
    }
  }
  .social-section {
    border-bottom: 1px solid grey;
  }
  .arrow-wrapper {
    position: relative;
    margin-top: -15px;
    margin-bottom: -15px;
    z-index: 1;

    .arrow-down {
      background: black;
      color: grey;
      width: 30px;
      height: 30px;
      font-size: x-large;
      border-radius: 50%;
      padding-top: 4px;
      font-weight: bold;
      cursor: pointer;
      &:hover {
        color: white;
      }
    }
  }
  .hr {
    border-style: dotted;
    border-color: grey;
  }
}

@media only screen and (max-width: 1200px) {
  .home-container {
    .landing-section {
      padding-top: 200px;
      h1 {
        font-size: 50px;
        letter-spacing: 20px;
      }
    }
  }
}

@media only screen and (max-width: 960px) {
  .home-container {
    .landing-section {
      padding-top: 150px;
      h1 {
        font-size: 40px;
        letter-spacing: 10px;
      }
    }
    .buy-section {
      padding-top: 50px;
      h1 {
        font-size: 40px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .btn-white-border {
    font-size: 12px;
  }
  .home-container {
    .landing-section {
      padding-top: 100px;
      h1 {
        font-size: 30px;
        letter-spacing: 0;
      }
    }
    .newsletter-section {
      padding-top: 20px;
    }
  }
}