<footer class="animated fadeInDown footer-section">
    <div class="bottom-menu padding-top-20 padding-bottom-10">
        <div class="display-inline" ui-sref-active="active"><a ui-sref="home">HOME</a></div>
        <div class="display-inline" ui-sref-active="active"><a ui-sref="about">ABOUT</a></div>
        <div class="display-inline" ui-sref-active="active"><a ui-sref="news">NEWS</a></div>
        <div class="display-inline" ui-sref-active="active"><a ui-sref="contactUs">CONTACT US</a></div>
        <div class="display-inline" ui-sref-active="active"><a ui-sref="joinTeam">JOIN TEAM</a></div>
    </div>

    <div class="text-grey padding-top-20 padding-bottom-20">@2017 Shadowcore.</div>
</footer>