<footer class="animated fadeInDown footer-section">
    <div class="row margin-0">
        <div class="col-xs-12 padding-0 bg-black">
            <div class="social-section container text-center text-white padding-20 margin-top-20 margin-bottom-40">
                <h2 class="sub-title margin-top-40 margin-bottom-40">SHADOWCORE SOCIAL</h2>
                <div class="social-icons text-center padding-left-50">
                    <div><a ng-href="#"><i class="fa fa-2x fa-facebook"></i></a></div>
                    <div><a ng-href="#"><i class="fa fa-2x fa-twitter"></i></a></div>
                    <div><a ng-href="#"><i class="fa fa-2x fa-youtube-play"></i></a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-border">
        <div class="bottom-menu padding-top-20 padding-bottom-10">
            <div class="display-inline" ui-sref-active="active"><a ui-sref="home">HOME</a></div>
            <div class="display-inline" ui-sref-active="active"><a ui-sref="about">ABOUT</a></div>
            <div class="display-inline" ui-sref-active="active"><a ui-sref="news">NEWS</a></div>
            <div class="display-inline" ui-sref-active="active"><a ui-sref="contactUs">CONTACT US</a></div>
            <div class="display-inline" ui-sref-active="active"><a ui-sref="joinTeam">JOIN TEAM</a></div>
        </div>
        <div class="text-grey padding-top-20 padding-bottom-20">@2017 SerebrumLab.</div>
    </div>
</footer>