<header class="header-section">
    <div class="logo-text">
        <span class="text-white">SHADOW</span>
        <span class="text-grey">CORE</span>
    </div>

    <div class="top-menu">
        <div class="pull-left active"><a ng-href="#">HOME</a></div>
        <div class="pull-left"><a ng-href="#">ABOUT</a></div>
        <div class="pull-left"><a ng-href="#">NEWS</a></div>
        <div class="pull-left"><a ng-href="#">CONTACT US</a></div>
    </div>


    <button class="btn btn-xs btn-default pull-right"><i class="fa fa-2x fa-reorder"></i></button>

    <div class="pull-right text-center">
        <div class="social-icon"><a ng-href="#"><i class="fa fa-2x fa-facebook"></i></a></div>
        <div class="social-icon"><a ng-href="#"><i class="fa fa-2x fa-twitter"></i></a></div>
        <div class="social-icon"><a ng-href="#"><i class="fa fa-2x fa-youtube-play"></i></a></div>
    </div>
</header>