<header class="header-section text-center" ng-class="{'scrolled': scrollTop > 1}">

    <div class="logo-text pull-left">
        <span class="text-white">SHADOW</span>
        <span class="text-grey">CORE</span>
    </div>

    <div class="top-menu">
        <div class="display-inline active"><a ng-href="#">HOME</a></div>
        <div class="display-inline"><a ng-href="#/about">ABOUT</a></div>
        <div class="display-inline"><a ng-href="#/news">NEWS</a></div>
        <div class="display-inline"><a ng-href="#/contact-us">CONTACT US</a></div>
    </div>

    <!--<button class="btn btn-xs btn-default pull-right"><i class="fa fa-reorder"></i></button>-->

    <div class="social-icons pull-right text-center">
        <div><a ng-href="#"><i class="fa fa-2x fa-facebook"></i></a></div>
        <div><a ng-href="#"><i class="fa fa-2x fa-twitter"></i></a></div>
        <div><a ng-href="#"><i class="fa fa-2x fa-youtube-play"></i></a></div>
    </div>
</header>