<div class="container-fluid home-container">
    <div class="row">
        <div class="col-xs-12 padding-0">

            <div class="landing-section">
                <h1>SHADOWCORE</h1>
                <h5 class="padding-left-10 padding-right-10">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</h5>
                <div class="margin-top-40 margin-bottom-40">
                    <button class="btn btn-primary btn-white-border">BUY GAME ON STEAM</button>
                    <button class="btn btn-primary btn-white-border">WATCH GAMEPLAY</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="arrow-wrapper cursor-pointer" ng-click="vm.scrollDown();">
            <i class="fa fa-angle-down arrow-down"></i>
        </div>
    </div>
    <div class="row bg-black text-white video-section">
        <div class="col-xs-12 text-center padding-40">
            <h2>V I D E O S</h2>
        </div>
        <div class="col-xs-12">
            <div class="container">
                <slick lazy-load="ondemand" slides-to-show="{{vm.screenWidth <= 768 ? 1 : 3}}" slides-to-scroll="1">
                    <div class="text-center padding-10" ng-repeat="video in vm.videos">
                        <youtube video="{{video.code}}"></youtube>
                        <div>
                            <h5>{{video.name}}</h5>
                            <div class="text-grey"><i class="fa fa-clock-o"></i> {{video.duration}}</div>
                            <hr class="hr"/>
                            <h5 class="text-grey">{{video.description}}</h5>
                        </div>
                    </div>
                </slick>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 padding-0">
            <div class="buy-section">
                <h1>B U Y</h1>
                <h3>SHADOWCORE ON STEAM</h3>
                <h5 class="margin-20">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</h5>
                <div class="margin-bottom-40">
                    <button class="btn btn-primary btn-white-border">SHOP NOW</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row bg-black character-section">
        <div class="col-xs-12">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-grey text-center">
                        o o o o o
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <img class="character-img img-responsive margin-auto" ng-src="./assets/temp/character.jpg">
                    </div>
                    <div class="col-sm-6">
                        <slick lazy-load="ondemand" slides-to-show="1" slides-to-scroll="1">
                            <div class="margin-top-20 text-white" ng-repeat="character in vm.characters">
                                <h3>{{character.title}}</h3>
                                <div>Category: {{character.category}} <i class="fa fa-bolt"></i></div>
                                <ul>
                                    <li ng-repeat="spec in character.specs track by $index">{{spec}}</li>
                                </ul>
                                <div>{{character.description}}</div>
                            </div>
                        </slick>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 padding-0">
            <div class="newsletter-section">
                <h3>N E W S L E T T E R</h3>
                <h5 class="margin-20">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</h5>
                <div class="margin-40">
                    <div>
                        <input type="text" class="email-box" placeholder="Your e-mail here">
                    </div>
                    <div class="margin-top-20">
                        <button class="btn btn-primary btn-white-border">SUBMIT</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 padding-0 bg-black">
            <div class="social-section container text-center text-white padding-40">
                <h3>SHADOWCORE SOCIAL</h3>
                <div class="margin-40 text-center">
                    <span class="social-icon"><a ng-href="#"><i class="fa fa-2x fa-facebook"></i></a></span>
                    <span class="social-icon"><a ng-href="#"><i class="fa fa-2x fa-twitter "></i></a></span>
                    <span class="social-icon"><a ng-href="#"><i class="fa fa-2x fa-youtube-play"></i></a></span>
                </div>
            </div>
        </div>
    </div>
</div>
