<div class="container-fluid home-container">
    <div class="row">
        <div class="col-xs-12 padding-0">
            <div class="landing">
                <h1>SHADOWCORE</h1>
                <h5>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</h5>
                <div class="margin-40">
                    <button class="btn btn-primary btn-white-border">BUY GAME ON STEAM</button>
                    <button class="btn btn-primary btn-white-border">WATCH GAMEPLAY</button>
                </div>
            </div>
        </div>
    </div>
</div>
